/* Originally created by Tropical */
.sidebarRegion-1VBisG,
.sidebarRegionScroller-FXiQOh {
    	flex: 0 0 auto;
}

.contentColumnDefault-3eyv5o {
    	max-width: unset;
}

/* Some additional stuff */
.sidebar-nqHbhN {
    	padding: 0;
    	margin-top: 10px;
}

.side-1lrxIh {
	margin-left: 5px;
}
